<h1><%= @recipe.title %></h1>
<h5><%= @recipe.publisher %></h5>

<%= @recipe.body %>

<ul>
  <li><%= link_to "Edit", edit_recipe_path(@recipe) %></li>
    <li><%= link_to "Destroy", recipe_path(@recipe), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Comments</h2>
<% @recipe.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.author %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @recipe, @recipe.comments.build ] do |form| %>
  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
